:root {
--background: white;
--size:4.2vw;
}



@font-face {
  font-family: sansMedium;
  src: url(Resources/SaansTRIAL-Medium.otf);
}

@font-face {
  font-family: sans;
  src: url(Resources/SaansTRIAL-Regular.otf);
}

@font-face {
  font-family: seriff;
  src: url(Resources/Teodor-Light.otf);
}

body {
  background-color: var(--background);
  margin: 0;
  color: black;
  font-size: var(--size);
  font-family: sans, helvetica, sans-serif;
  overflow: scroll;
}


.typing-container {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 100;
    transition: opacity 1s;
    background-color: white;
}

    #data {
        font-size: 1.2vw;
        margin-bottom: 2vh;
      font-family: sans;
    }

    .sentence {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
       line-height: 1.5;
       transition: opacity 0.6s;
    }

    .group1 {
      font-size: 1.2vw;
      line-height: 1;
    }

    .link {
      transition: color 0.6s;
      cursor: pointer;
    }





    .input-cursor {
      display: inline-block;
      width: 1px;
      height: var(--size);
      background-color: black;
      margin-left: 0px;
      animation: blink .6s linear infinite alternate;
    }
  
  @keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }



.progetti {
  font-size: 1.1vw;
  color: black;
  text-align: center;
  padding-top: 2vw;
  width: 100vw;
} 

#container_progetti {
  width: 30vw;
  padding-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 2;
}

.istat {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-sizing:border-box;
  padding: none;
  margin-top: -0.7vw;
  border: none;
  cursor: pointer;
}



  .contatti {
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2vw;
  }

  .insta {
    bottom: 6vh;
  }

  .nolink {
    text-decoration: none;
    color: black;
  }

  .imagebox {
    position: relative;
    cursor: pointer;
  }

  .infos {
    position: absolute;
    right: -1vw;
    top: 0;
    text-align: left;
    transform: translateX(100%);
    font-size: 0.92vw;
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .rolez {
    opacity: 36%;
  }
